@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&family=Rufina:wght@700&display=swap');
body {
    width: 97%;
    margin: auto;
}
.header {
    padding: 15px;
}
.menu-area nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	
}
.menu-area nav ul li{
	display: inline-block;

}
.menu-area nav ul li a{
	text-decoration: none;
	color: #595959;
	padding: 7px 10px;
	font-size: 15px;
}
.icon {
    color: #595959;
}

.img-pro img {
    width: 100%;
}
.img-pro {
    position: relative;
}
.clean-area {
    position: absolute;
    top: 150px;
    left: 78px;
    color: white;
}
.btn1 {
    color: white;
    background: #9fc54d;
    border: none;
    font-size: 15px;
    padding: 4px 11px;
    box-shadow: 1px 1px 1px 1px #497a39;
    border-radius: 4px;
}
.btn2 {
    color: white;
    background: #1bbc9d;
    border: none;
    font-size: 15px;
    padding: 4px 23px;
    box-shadow: 1px 1px 1px 1px #1f937d;
    margin-left: 16px;
    border-radius: 4px;
}
.clean-area h1 {
    padding-bottom: 18px;
}
.web-area ul {
    list-style: none;
}
.web-area ul li {
    display: inline-block;
}
.web-area ul li a {
    padding: 8px 14px;
    background: #ececec;
    text-decoration: none;
    color: #5d5d5d;
}
.web-area {
    padding-left: 209px;
    padding-top: 17px;
    margin-bottom: 156px;
}
.web-area ul li.bg a {
    background: #1bbc9d;
    color: #ffffff;
    box-shadow: 0px 1px 1px 1px #1f937d;
}
.tem-area img {
    width: 86%;
}
.tabile {
    position: relative;
    margin-top: 80px;
}
.tabile-area {
    position: absolute;
    top: 176px;
    left: 115px;
    color: white;
}
.tabile img {
    width: 100%;
}
.about-area {
    text-align: center;
}
.crem img {
    width: 92%;
}
input {
    width: 48%;
}
label input {
    width: 105%;
    background: #1bbc9d;
    border: none;
    color: #fff;
    padding: 4px 11px;
    box-shadow: 1px 1px 1px 1px #1f937d;
}
button{
    background: #1bbc9d;
    border: none;
    color: #fff;
    padding: 4px 11px;
    box-shadow: 1px 1px 1px 1px #1f937d
}